h1 {
  color: #000000;
  margin-left: 900px;
  font-size: 50px;	
}
m {
  color: #990000;
<<<<<<< HEAD
  margin-left: 650px;
=======
  margin-left: 600px;
>>>>>>> refs/remotes/origin/master
  font-size: 31px;
 }
 img {width: 50%;
 	margin-left: 2px;

 }
