h1 {
  color: #000000;
  margin-left: 900px;
  font-size: 50px;	}
  

 


 	 p { color: #990000;

  margin-left: 650px;
  font-size: 22px;
 }


 img {width: 50%;

 	margin-left: 2px;

 	margin-left: 481px; 
 	 }




